[mysqld]
# 配置mysql内存,内存不足可以适当减少(建议主机配置swap虚拟内存)
innodb_buffer_pool_size = 128

# mysql8使用了caching_sha2_password,php版本不兼容,改为mysql_native_password
# 同时还有执行: 
# ALTER USER 'root'@'%' IDENTIFIED WITH mysql_native_password BY 'my_password';
# ALTER USER 'root'@'localhost' IDENTIFIED WITH mysql_native_password BY 'my_password';
default_authentication_plugin = mysql_native_password
# 解决报错: "this is incompatible with sql_mode=only_full_group_by"
sql_mode=STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION
