[mysqld]
user=mysql
log_error = /var/logs/error.log #默认stderr,即输出到终端;

# 配置mysql内存,内存不足可以适当减少(建议主机配置swap虚拟内存)
innodb_buffer_pool_size = 256M
# 检测死锁
innodb_deadlock_detect = on

# mysql8使用了caching_sha2_password,php版本不兼容,改为mysql_native_password
# 同时还有执行:
# ALTER USER 'root'@'%' IDENTIFIED WITH mysql_native_password BY 'my_password';
# ALTER USER 'root'@'localhost' IDENTIFIED WITH mysql_native_password BY 'my_password';
authentication_policy = mysql_native_password

# 解决报错: "this is incompatible with sql_mode=only_full_group_by"
sql_mode=STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION

#解决mycat无法连接
max_connect_errors=1000

binlog_format= ROW
binlog_row_image=FULL
expire_logs_days = 7
log-bin = mysql-bin
server-id = 1
max_allowed_packet=1024M

#或使用命令"set names utf8mb4"
character-set-server=utf8mb4
collation-server = utf8mb4_unicode_ci

#不区分大小写
lower_case_table_names = 0

#最大连接数,默认151
max_connections = 151


[client]
default-character-set = utf8mb4

[mysql]
default-character-set = utf8mb4
